*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
html.sr .load-hidden{
    visibility: hidden;
}
/* imported fonts via fonts.google.com*/
@font-face {
    font-family: RussoOne;
    src: url("fonts/fonts/RussoOne-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("fonts/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Montserrat-Bold;
    src: url("fonts/fonts/Montserrat-Black.ttf");
}
@font-face {
    font-family: Abel;
    src: url("fonts/fonts/Abel-Regular.ttf");
}
@font-face {
    font-family: Exo2;
    src: url("fonts/fonts/Exo2-Regular.ttf");
}
@font-face {
    font-family: Exo2-Medium;
    src: url("fonts/fonts/Exo2-Medium.ttf");
}
body{
    width: 200vw;
    height: 200vh;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-y: -moz-scrollbars-vertical;
    scroll-behavior: smooth;



}
body::-webkit-scrollbar{
    display: flex;
    width: 1vh;
    background-color: transparent;
}
body::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.4);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,1);   /* color of the scroll thumb */
   box-shadow: 0.5vh 1vh 0.55vh 0 rgba(0,0,0,0.4)  /* creates padding around scroll thumb */
}

/* head and nav*/
.headie{
    height: 18vh;
    width: 100vw;
    background-color: rgba(10,0,20,0.1);

    z-index: -1;
    backdrop-filter: blur(1gd);
}
.head{
    width: 100vw;
    height: 10vh;
    background-color: #00061a;
    position:absolute;
    top: 0;
}
/* logo-section*/
.section-one{
    margin: 1vh;
}
.logo, .logo-active{
    left: 1vw;
    position: absolute;
    top: 1.25vh;
    font-family: RussoOne, sans-serif;
    color: rgba(255,255,255,0.5);
    font-size: 3vh;
    letter-spacing: 0.25vh;
    text-decoration: none;

}
.logo-active:hover .logo{
    color: white;
}
/* sign up button*/
.sign-up-active{
    color: #fff;
    position: absolute;
    font-family: Montserrat,sans-serif;
    left: 72vw;

    top: 1.25vh;
    height: 4vh;
    width: 6vw;
    text-align: center;
    text-decoration: none;
    line-height: 7vh;
    font-size: 2.25vh;
    z-index: 100000;

}
.button-svg-one{
    position: absolute;
    overflow: visible;
    top: 1.25vh;
    left: -1.25vw;
    width: 8vw;
    height: 4.5vh;
    fill: transparent;
}
.button-svg-one-rect{
    width: 9vw;
    height: 4.5vh;
    stroke: white;
    stroke-width: 0.1vh;
    stroke-opacity: 75%;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
    transition: 2s;
    z-index: 100000;
}
.sign-up-active:hover .button-svg-one-rect{
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 310;
    stroke: cyan;
    stroke-opacity:100% ;
    z-index: 100000;
}
/* sign in button*/
.sign-in-active{
    color: #fff;
    position: absolute;
    font-family: Montserrat,sans-serif;
    left: 83vw;
    top: 1.25vh;
    height: 5vh;
    width: 6vw;

    text-align: center;
    text-decoration: none;
    line-height: 7vh;
    font-size: 2.25vh;
    z-index: 100000;
}
.button-svg-two{
    position: absolute;
    overflow: visible;
    top: 1.25vh;
    left: 0;
    width: 8vw;
    height: 4.5vh;
    fill: transparent;
}
.button-svg-two-rect{
    width: 8vw;
    height: 4.5vh;
    stroke: white;
    stroke-width: 0.1vh;
    stroke-opacity: 75%;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
    transition: 2s;
    z-index: 100000;
}
.sign-in-active:hover .button-svg-two-rect{
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 335;
    stroke: cyan;
    stroke-opacity:100% ;
    z-index: 100000;
}
/* divider between head and navbar*/
.line{
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color:rgba(255,255,255,0.3) ;
    position: relative;
    top:7.65vh;
    display: block;
}
/* navbar*/
.border-one{
    height: 10vh;
    width: 100vw;

    background-color: #00061a ;
    position:absolute;
    left: 0;
    top: 9vh;
    right: 0;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}
/* in js, class border-one will add class sticky when it
scrolls over 0*/
.border-one.sticky{
    height: 8vh;
    padding: 0.75vh;
    position: fixed;
    background-color: #00061a;
    top: 0;
    z-index: 9999;

}
/* svg of logo version 2. I used SVG in order to aim the animation
I desire it is which when I hover on to it, it will feel the svg text.
This is inspired via logitech website*/
.svg-1{
    display: block;
    overflow: visible;
    margin-top: 1vh;
    top: 3vh;
    left: 11vw;
    position: absolute;
    padding: 2vh;
    z-index: 1000000;
    transition: 0.15s;

}
/* this is <a> KoliTech </a> */
.svg-text-active{
    text-decoration: none;

}
/* this is for the strokes of the text, when i put this in .svg-text-1,
there'll be no effect..*/
.svg-1 > .svg-text-active > .svg-text-1{
    width: 10vh;
    font-family: RussoOne, sans-serif;
    stroke: #fff;
    stroke-width: 0.01em;
    stroke-opacity: 80%;
    stroke-linejoin: round;

}
/* the <text></text> inside <svg></svg> 0*/

.svg-text-1{
    width: 10vh;
    left: 5vh;
    margin-left: 3vh;
    margin-right: 2vh;
    position: relative;
    font-size: 5.5vh;
}


/* as I hover the svg tag, it then hover the <a></a> then then the text*/
.svg-1:hover > .svg-text-active:hover > .svg-text-1{
    transition: 3s;
    animation: textAnimate ease-in-out 5s;
    animation-duration: 5s;
    animation-delay: 0.5ms;
}
/* this is the animation for svg text, it is like similar like logitech
 however, the difference is that, this doesn't use API*/
@keyframes textAnimate {
    0%{
        stroke-dasharray: 0,100;

        stroke: white;

    }
    10%{
        stroke-dasharray: 10,100;

        stroke: white;
    }
    25%{
        stroke-dasharray: 35, 70;
        stroke: #fff;

    }
    50%{
        stroke-dasharray: 65,1;

        stroke: #fff;
    }
    75%{
        stroke-dasharray: 95,0;

        stroke: #fff;

    }
    90%{
        stroke-dasharray: 100, 0;
        stroke: #fff;
    }
    100%{
        transition-delay: 2s;
        color: white;
        fill: white;

    }
}
.svg-1:after > .svg-text-active:after > .svg-text-1{
    fill: white;
    color: white;
}
/* These are the menus in the navbar beside the svg text..\

*/
.company-div, .services-div, .support-div, .projects-div{
    top: 1vh;
    position: relative;
    display: inline-flex;
    width: 8vw;
    transition: 0.15s;

}
.company-div{
    height: 6vh;
    left: 21vw;
}
.services-div{
    left: 23vw;
    height: 6vh;
}
.projects-div{
    left: 25vw;
    height: 6vh;

}
.support-div{
    left: 27vw;
    height: 6vh;
}
/*the a tag inside divs*/
.company, .services, .projects{
    width: 12vw;
    height: 2vh;
    margin: 0 ;

    padding: 2vh 3vh;
    justify-content: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    position: relative;
    left: 0;
    display: inline-flex;
    line-height: 0.9vh;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    color: white;
}
.support{

    width: 12vw;
    height: 2vh;
    padding: 2vh 3vh;
    justify-content: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    position: relative;
    left: 0;
    display: inline-flex;
    line-height: 0.9vh;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    color: white;
}
/* this is when u hover the divs*/
.company-div:hover .company, .services-div:hover .services,
.projects-div:hover .projects, .support-div:hover .support{
    border-bottom-style: solid;
    border-bottom-width: 0.5vh;
    border-bottom-color: cyan;
}
/* the block of the items*/
.company-div-items{
    position: relative;
    width: 15vw;
    margin-top: 6vh;
    left: -10vw;
    float: left;
    display: block;
    top: 0.45vh;
    border-color: #00061a;
    border-width: thin;
    z-index: 9999;
    box-shadow: 1.5em -3em 4.2em -3.6em rgba(0,0,2,1.8);
}
.services-div-items{
    position: relative;
    margin-top: 6.25vh;
    width: 15vw;
    left: -10vw;
    float: left;
    display: block;
    top: 0.25vh;
    border-color: #00061a;
    border-width: thin;
    z-index: 9999;
    box-shadow: 1.5em -3em 4.2em -3.6em rgba(0,0,2,1.8);
}
.projects-div-items{
    position: relative;
    margin-top: 6.25vh;
    width: 15vw;
    left: -11vw;
    float: left;
    display: block;
    top: 0.25vh;
    border-color: #00061a;
    border-width: thin;
    z-index: 9999;

    box-shadow: 1.5em -3em 4.2em -3.6em rgba(0,0,2,1.8);

}
.support-div-items{
    position: relative;
    margin-top: 6.25vh;
    width: 15vw;
    left: -10vw;
    float: left;
    display: block;
    top: 0.25vh;
    border-color: #00061a;
    border-width: thin;
    z-index: 9999;
    box-shadow: 1.5em -3em 4.2em -3.6em rgba(0,0,2,1.8);
}
/* the items*/
.projects-items{
    background-color: #fff;
    width: 12vw;

    top: 0;
    padding: 2vh 2.5vh;
    justify-items: left;
    text-decoration: none;
    color: #00061a;
    font-family: Montserrat, sans-serif;
    display: none;
}
.support-items{
    background-color: #fff;
    width: 12vw;

    top: 0;
    padding: 2vh 2.5vh;
    justify-items: left;
    text-decoration: none;
    color: #00061a;
    font-family: Montserrat, sans-serif;
    display: none;
}
.company-items,  .services-items{
    background-color: #fff;
    width: 12vw;

    top: 0;
    padding: 2vh 2.5vh;
    justify-items: left;
    text-decoration: none;
    color: #00061a;
    font-family: Montserrat, sans-serif;
    display: none;
}
/* when you hover the div, the items will display block*/
.company-div:hover .company-items, .services-div:hover .services-items,
.projects-div:hover .projects-items, .support-div:hover .support-items{
    display: block;
}
/* this is when you hover the items*/
.company-items:hover,.support-items:hover,
.services-items:hover, .projects-items:hover{
    background-color: 	#ccd9ff;
    color: #00061a;
}
.border-one.sticky.company{
    z-index: 1000000;
    position: relative;
}
.border-one.sticky.services{
    z-index: 1000000;
    position: relative;
}
.border-one.sticky.projects{
    z-index: 1000000;
    position: relative;
}
.border-one.sticky.support{
    z-index: 1000000;
    position: relative;
}
/*soc-med*/

/* contents*/
.content{
    height: 100%;
    width: 100vw;
    background-color: #e8f0fd;
    position: initial;
}
/* footer0*/
.foot{
    height: 40vh;
    width: 100vw;
    background-color: #778899;
}
.follow{
    text-align: center;
    text-transform: uppercase;
    font-family: Exo2,sans-serif;
    color: #00061a;
}
.soc{
    text-align: center;
}
.soc-med{
    position: relative;
    top: 1vh;
    padding: 3vh;
    color: #00203FFF;
}
.soc-med:hover{
    color: #553355;
}
.cntct-us{
    text-transform: uppercase;
    text-align: center;
    font-family: Exo2,sans-serif;
    color: #00061a;
}
.num{
    text-align: center;
    font-family: Abel,sans-serif;
    color: #00061a;
    font-size: 1.85vh;
}
.address{
    text-transform: uppercase;
    text-align: center;
    font-family: Abel,sans-serif;
    color: #00061a;
    font-size: 1.85vh;
}
.name1{
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat,sans-serif;
    color: #00061a;
    letter-spacing: 0.15vh;
    font-size: 2vh;

}
.copyright{
    text-transform: Capitalize;
    text-align: center;
    font-family: Abel,sans-serif;
    letter-spacing: 0.25vh;
    color: #00061a;

}

