/* imported fonts via fonts.google.com*/
@font-face {
    font-family: Oswald-Med;
    src: url("fonts/fonts/Oswald-Medium.ttf");
}
@font-face {
    font-family: Oswald-Reg;
    src: url("fonts/fonts/Oswald-Regular.ttf");
}
.row{
    width: 60vw;
    height: 30vh;
    left: 6.5vw;
    position: absolute;
    top: 30vh;

}

.IT-C{

    font-family: Oswald-Med,sans-serif;
    font-size: 6vh;
    color: #00061a;
    letter-spacing: 0.25vh;
}
.description{
    position: relative;
    top: 2vh;
    font-family: Montserrat,sans-serif;
    font-size: 2.5vh;
    color: #00203FFF;
    text-align: justify;
    text-justify: inter-word;
}
.consult-container{
    width: 22vw;
    background-color:  #deeafc;
    height: 35vh;
    left: 70vw;
    position: absolute;
    top: 30vh;
    border-radius: 2vh;
    border: solid thin rgba(0,0,0,0.01);
}
.des{
    text-decoration: none;
    cursor: default;
}
.identity{
    position: relative;
    left: 1vw;
    font-family: Oswald-Reg,sans-serif;
    font-size: 4vh;
    color: #00061a;
    letter-spacing: 0.25vh;
}
.big-data, .service-management, .project-management, .cybersecurity{
    width: 20.3vw;
    height: 2vh;
    position: absolute;
    padding: 2vh;
    line-height: 1;
    text-decoration: none;
    font-family: Montserrat-medium,sans-serif;
    color: #00203FFF;
    margin: 0;
}
.big-data:hover, .service-management:hover, .cybersecurity:hover, .project-management:hover{
    background-color: #ccd9ff;
    color: #112F4D;
}

.des1{
    color: transparent;
    text-decoration: none;
    position: relative;
    left: 1vw;
    cursor: default;
}

.row-2{
    width: 60vw;
    height: 80vh;
    left: 6.5vw;
    position: absolute;
    top: 58vh;
}
.choose-your-options{
    font-family: Oswald-Med,sans-serif;
    font-size: 5vh;
    color: #00203FFF
    letter-spacing: 0.25vh;
    text-transform: capitalize;
}
/*option1*/
.div-container-1{
    position: absolute;
    top: 11vh;
    text-decoration: none;

}
.the-div{
    position: relative;
    border: solid thin rgba(0,0,0,0.25);
    width: 19vw;
    height: 67vh;
    border-radius: 2vh;
}
.h3-write{
    position: relative;
    top: 1vh;
    text-decoration: none;
    margin: 1vh;
    text-align: center;
    vertical-align: middle;
    font-family: Oswald-Reg,sans-serif;
    color: #112F4D;
    text-transform: uppercase;
    letter-spacing: 0.15vh;
}
.ano{
    text-align: justify;
    font-family: Montserrat,sans-serif;
    font-size: 1.86vh;
   margin: 2vh;
    color:#778899;
}
.strategy{
    position: relative;
    margin: 1vh;

    left:2vw;
    width: 15vw;
    height: 30vh;
}
.strategy-button{
    margin: 0;
    width: 19vw;
    top: 61vh;
    position: absolute;
    height: 6vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    outline: none;
    background-color: #00203FFF;
    color: #adb7c1;
    cursor: pointer;
    border: solid thin rgba(0,0,0,0.2);
}
.div-container-1:hover .the-div {
    box-shadow: 0.25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);

}
.div-container-1:hover .strategy-button{
    box-shadow: 0.25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);
    height: 6vh;
    width: 19vw;
    outline: none;
}
.strategy-button:hover{
    color: #ccd9ff;
}

/*option2*/
.div-container-2{
    position: absolute;
    top: 11vh;
    left: 20.5vw;
    text-decoration: none;
}
.the-div-2{
    position: relative;
    border: solid thin rgba(0,0,0,0.25);
    width: 19vw;
    height: 67vh;
    border-radius: 2vh;
}
.project{
    position: relative;
    margin: 1vh;
    top: 5vh;
    left:3vw;
    width: 12vw;
    height: 24vh;
}
.h3-write-1{
    position: relative;
    top: 7vh;
    text-decoration: none;
    margin: 1vh;
    text-align: center;
    vertical-align: middle;
    font-family: Oswald-Reg,sans-serif;
    color: #112F4D;
    text-transform: uppercase;
    letter-spacing: 0.15vh;
}
.ano-1{
    position: relative;
    top: 6vh;
    text-align: justify;
    font-family: Montserrat,sans-serif;
    font-size: 1.86vh;
    margin: 2vh;
    color:#778899;
}
.project-button{
    margin: 0;
    width: 19vw;
    top: 61vh;
    position: absolute;
    height: 6vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    outline: none;
    background-color: #00203FFF;
    color: #adb7c1;
    cursor: pointer;
    border: solid thin rgba(0,0,0,0.2);
}
.div-container-2:hover .the-div-2{
    box-shadow: 0.25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);

}
.div-container-2:hover .project-button{
    box-shadow: 0.25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);
    height: 6vh;
    width: 19vw;
    outline: none;
}
.project-button:hover{
    color: #ccd9ff;
}

/*option3*/
.div-container-3{
    position: absolute;
    top: 11vh;
    left: 40.85vw;
    text-decoration: none;

}
.the-div-3{
    position: relative;
    border: solid thin rgba(0,0,0,0.25);
    width: 19vw;
    height: 67vh;
    border-radius: 2vh;
}
.technical{
    position: relative;
    left: 3vw;
    top: 4vh;
    margin: 1vh;
    height: 24vh;
    width: 12vw;
}
.ano-2{
    position: relative;
    top: 6vh;
    text-align: justify;
    font-family: Montserrat,sans-serif;
    font-size: 1.86vh;
    margin: 2vh;
    color:#778899;
}
.tech-button{
    margin: 0;
    width: 19vw;
    top: 61vh;
    position: absolute;
    height: 6vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    outline: none;
    background-color: #00203FFF;
    color: #adb7c1;
    cursor: pointer;
    border: solid thin rgba(0,0,0,0.2);
}
.div-container-3:hover .the-div-3{
    box-shadow: .25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);

}
.div-container-3:hover .tech-button{
    box-shadow: 0.25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);
   height: 6vh;
    width: 19vw;
    outline: none;
}
.tech-button:hover{
    color: #ccd9ff;
}

.hr-1{
    position: relative;
    top: 75vh;
}
.row-3{
    width: 60vw;
    height: 40vh;
    left: 6.5vw;
    position: absolute;
    top: 145vh;

}
.approach{
    font-family: Oswald-Med,sans-serif;
    font-size: 5vh;
    color: #00203FFF
    letter-spacing: 0.25vh;
}
.the-div-4{
    position: absolute;
    top: 11vh;
    border: solid thin rgba(0,0,0,0.25);
    width: 29.15vw;
    height: 30vh;
    border-radius: 2vh;
}
.the-div-5{
    position: absolute;
    top: 11vh;
    left: 30.75vw;
    border: solid thin rgba(0,0,0,0.25);
    width: 29.15vw;
    height: 30vh;
    border-radius: 2vh;
}
.the-div-4:hover, .the-div-5:hover{
    box-shadow: .25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);
}
.h4-write{
    margin-top: 2vh;
   text-align: center;
    font-size: 4vh;
    font-family: Oswald-Reg,sans-serif;
    text-transform: capitalize;
    color: #1a2243;
}
.doing-the-right-it{
    position: relative;
    text-align: justify;
    margin: 1vh 1.5vw;
    top: 1.5vh;
    font-size: 2.5vh;
    font-family: Montserrat,sans-serif;
}
.hr-2{
    position: relative;
    top: 40vh ;
}
.row-4{
    width: 60vw;
    height: 60vh;
    left: 6.5vw;
    position: absolute;
    top: 200vh;
    border: solid thin rgba(0,0,0,0.25);
    border-radius: 2vh;
}
.row-4:hover{
    box-shadow: .25vh 0.5vh 0.2vh 0.13vh rgba(0, 0, 0, 0.1);
}
.ceo{
    height: 25vh;
    border-radius: 25vh;
    margin: 2vh;
    position: relative;
    left: 2vw;
    top: 2vh;
}
.the-div-6{

    position: absolute;
    left: 15vw;
    top: 3vh;


    height: 50vh;
    width: 41.75vw;
    margin: 2vh;
}
.ceo-name{
    margin-top: 2vh;
    letter-spacing: 0.25;
    font-size: 5vh;
    font-family: Oswald-Reg,sans-serif;
    text-transform: capitalize;
    color: #1a2243;
}
.speech {
    text-align: justify;
    justify-self: right;
    justify-content: right;
    font-family: Montserrat,sans-serif;
    font-size: 2.5vh;
}

.speech-1{
    text-align: justify;
    justify-self: right;
    justify-content: right;
    font-family: Montserrat,sans-serif;
    font-size: 2.5vh;
}